<template>
    <div class="container">
        <div v-for="task in list">
            <div>
                <router-link
                    :to="{name: 'SingleTask', params: {id: task.id}}"
                >
                    <span>{{ task.name }}</span>
                </router-link>
            </div>
<!--            <div @click="setStatus(task.status, task.id)"> {{ statusText(task.status) }}</div>-->
            <div>
                <input type="checkbox" id="checkbox" :checked="task.status" @change="setStatus(task.status, task.id)">
            </div>

        </div>
        <router-link
            :to="{name: 'Start'}"
        >
            <span>На страницу категорий</span>
        </router-link>
    </div>
</template>

<script>
    export default {
        name: "SingleCategory",
        data: ()=> {
            return {
                list: [],
            }
        },
        created() {
            this.getTasks();
        },
        props: ['id'],
        methods: {
            getTasks() {
                axios.get("/api/task", {
                    params:{
                        category_id : this.id
                    }
                }).then(result => {
                    this.list = result.data
                });
            },
            setStatus(status, task_id){
                    axios.put("/api/setStatus",{
                        params: {
                            task_id : task_id,
                            status : status
                        }
                    }).then(() => {
                        this.getTasks();
                    });

            },
        }
    }
</script>

<style scoped>

</style>
