<template>
    <div>
        <div>
            <p> {{ list.name }} </p>
        </div>
        <div>
            <p> {{ list.description }} </p>
        </div>
        <div>
            <input type="checkbox" id="checkbox" :checked="list.status" @change="setStatus(list.status)">
        </div>
        <router-link
            :to="{name: 'Start'}"
        >
            <span>На страницу категорий</span>
        </router-link>
    </div>
</template>
<script>
    export default {
        name: "SingleTask",
        props: ['id'],
        data: ()=> {
            return {
                list: [],
            }
        },
        created() {
            this.getTasks();
        },
        methods: {
            getTasks() {
                axios.get("/api/singleTask", {
                    params:{
                        task_id : this.id
                    }
                }).then(result => {
                    this.list = result.data
                });
            },
            setStatus(status){
                axios.put("/api/setStatus",{
                    params: {
                        task_id : this.id,
                        status : status
                    }
                }).then(() => {
                    this.getTasks();
                });

            },
        }
    }
</script>

<style scoped>

</style>
