<template>
    <div>
        <div v-for="category in list">
            <router-link
                :to="{name: 'SingleCategory', params: {id: category.id}}"
            >
                <span>{{ category.name }}</span>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Start",
        data: ()=>{
            return {
                list: [],
            }
        },
        created() {
            this.getCategory();
        },
        methods: {
            getCategory() {
                axios.get("/api/category").then(result => {
                    this.list = result.data
                });
            }
        }
    }
</script>

<style scoped>
</style>
